/* body {
    background-image: url(../img/double-bubble-outline.png);
  } */
  
  .logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;

    height: 2.5cm;
    width: 100%;
    background-color: #1a1a1a;
}

@page {
  @top-right{
      background-image: url(../static/img/JBL_Logo.jpg);
  }
}