{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  Elements List
{% endblock %}


{% block content %}

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Element</th>
      <th>Source</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  
{% for ems_key,ems in context.items %}
    <tr><td>Staus: {{ems_key}}</td></tr>
    <tr><td><a href="{% url 'generate_agreement' pk ems%}"
       class="btn btn-primary btn-sm"
       role="button">GENERATE AGREEMENT</a></td><td><a href="{% url 'email_agreement' pk ems%}"
       class="btn btn-primary btn-sm"
       role="button">EMAIL</a></td></tr>  
    {% for x in ems %}
        {% for e in element%}
        {% if x == e.pk %}
            <tr><td/><td>{{e.element_number}}</td>
            <td>{{e.unit.book.isbn}}</td>
            <td>{{e.pk}}</td>
            </tr>
        {%endif%}
        {% endfor %}
    {% endfor %}
  

{% endfor %} 
</tbody>
</table>
{% endblock %}