{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  Elements List
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Books</a></li>
  <li class="breadcrumb-item"><a href="{% url 'book_units' pk%}">{{ book.title }}</a></li>
  <li class="breadcrumb-item active">Permission</li>
  
{% endblock %}

{% block content %}
<div class="mb-4">
    <a href="{% url 'requested_list' book.pk %}" class="btn btn-primary btn-sm">REQUESTED</a>
    <a href="{% url 'granted_list' book.pk %}" class="btn btn-primary btn-sm">GRANTED</a>
</div>

<table class="table table-striped mb-4">
  <thead class="thead-inverse">
    <tr>
      <th>Elements</th>
    </tr>
  </thead>
  <tbody>
  
{% for ems_key,ems in context.items %}
    <tr><td><p><b>{{ems_key}}</b></p>
    {% for x in ems %}
        {% for e in element%}
        {% if x == e.pk%}
           {% if e.requested_on == None %} 
            <p>{{e.element_number}}</p>
           {% endif %}
        {%endif%}
        {% endfor %}
    {% endfor %}
    <p><a href="{% url 'generate_agreement' pk ems%}"
       class="btn btn-primary btn-sm"
       role="button">AGREEMENT</a> <a href="{% url 'email_body' pk ems%}"
       class="btn btn-primary btn-sm"
       role="button">PREVIEW</a> <a href="{% url 'email_agreement' pk ems%}"
       class="btn btn-primary btn-sm"
       role="button">SEND</a></p></td></tr>  
{% endfor %} 
</tbody>
</table>
{% endblock %}