{% extends 'base.html' %}

{% block title %}
  {{ book.title }} - {{block.super}}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Books</a></li>
  <li class="breadcrumb-item"><a href="{% url 'book_units' book.pk%}">{{ book.title }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'unit_list' book.pk%}">Permission</a></li>
  <li class="breadcrumb-item"><a href="{% url 'requested_list' book.pk%}">Requested</a></li>
  <li class="breadcrumb-item active">Followup agreement</li>
{% endblock %}

{% block content %}
Followup agreement successfully sent to {{user}}
{{result}}
{% endblock %}