{% extends 'base.html' %}{% load static %}
{% load humanize %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Books</li>
{% endblock %}
{% block content %}
<div class="mb-4">
    <a href="{% url 'new_book' %}" class="btn btn-primary">NEW BOOK</a>
    <a href="{% url 'import_book' %}" class="btn btn-primary">IMPORT BOOK</a>
    <a href="{% url 'export_books' %}" class="btn btn-primary">EXPORT BOOK DETAILS</a>
</div>

<table class="table table-striped mb-4">
    <thead class="thead-inverse">
        <tr>
        <th>Book</th>
        <th>Number of Chapters</th>
        <th>Number of Units</th>
        <th>Created</th>
        <th>As CSV</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>
                 <p class="mb-0">
                    <a href="{% url 'book_units' book.pk %}">{{ book.title }}</a>
                </p>
                <p>
                    <small class="text-muted d-block">{{ book.isbn }}</small>
                </p>
                </td>
                <td class="align-middle"><p>{{book.get_chapters_count}}</p></td>
                <td class="align-middle"><p>{{book.get_elements_count}}</p></td>
                <td class="align-middle"><p>{{book.created_at|naturalday}}</p></td>
                <td class="align-middle"><p><a href="{% url 'export_book' book.pk %}" class="btn btn-primary">EXPORT</a></p></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'includes/pagination.html' %}

{% endblock %}