{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  Elements List
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Books</a></li>
  <li class="breadcrumb-item"><a href="{% url 'book_units' pk%}">{{ book.title }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'unit_list' pk%}">Permission</a></li>
  <li class="breadcrumb-item active">Requested</li>
{% endblock %}

{% block content %}

<table class="table table-striped mb-4">
  <thead class="thead-inverse">
    <tr>
      <th>Elements</th>
    </tr>
  </thead>
  <tbody>
  
{% for ems_key,ems in context.items %}
    <tr><td><p><b>{{ems_key}}</b></p>
    {% for x in ems %}
        {% for e in element%}
        {% if x == e.pk%}
            <p>Permission requested for {{e.element_number}} of chapter {{e.unit.chapter_number}} <b>{{e.requested_on|timesince}}</b> ago  <a href="{% url 'new_followup' e.unit.book.pk e.unit.pk e.pk%}" class="btn btn-primary btn-sm" role="button">FOLLOWUP</a></p>
            <p>Number of followups: {{e.get_followup_count}}</p>
        {%endif%}
        {% endfor %}
    {% endfor %}
    <p><a href="{% url 'update_followups' pk ems%}"
       class="btn btn-primary btn-sm"
       role="button">FOLLOWUP</a></p></td></tr>  
{% endfor %} 
</tbody>
</table>
{% endblock %}