{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  Elements List
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Books</a></li>
  <li class="breadcrumb-item"><a href="{% url 'book_units' pk%}">{{ book.title }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'unit_list' pk%}">Permission</a></li>
  <li class="breadcrumb-item active">Requested</li>
{% endblock %}

{% block content %}

<h2 class="text-primary">Elements grouped by Source, Credit Line and RH Contact</h2>
<table class="table table-striped mb-4">
<tbody>
  
{% for ems_key,ems in context.items %}
    <tr><td><p class="p-3 mb-2 bg-info text-white"><b>Source:</b> {{ems_key.0}}<br/>
    <b>Credit Line:</b> {{ems_key.1}}<br/>
    <b>RH Contact:</b> {{ems_key.2}}</p>
    {% for x in ems %}
     <p><b>{{forloop.counter}}. </b>
        {% for e in element%}
        {% if x == e.pk%}
        <b>Element Number:</b> {{e.element_number}}<br/>
            <b> Chapter Number:</b> {{e.unit.chapter_number}}<br/>
            <b> Caption:</b> {{e.caption}}<br/>
            <b>{% if e.get_followup_count > 0%}First {% endif %} Permission requested: </b> {{e.requested_on|timesince}} ago  <a href="{% url 'test_followup_email_agreement_e' e.unit.book.pk e.unit.pk e.pk%}" class="btn btn-secondary btn-sm" role="button">TEST</a> <a href="{% url 'followup_email_agreement_e' e.unit.book.pk e.unit.pk e.pk%}" class="btn btn-primary btn-sm" role="button">FOLLOWUP</a> <!--<a href="{% url 'followup_agreement_e' e.unit.book.pk e.unit.pk e.pk%}" class="btn btn-primary btn-sm" role="button">FOLLOWUP AGREEMENT</a> <a href="{% url 'followup_email_body_e' e.unit.book.pk e.unit.pk e.pk%}" class="btn btn-primary btn-sm" role="button">FOLLOWUP EMAIL</a>--> <a href="{% url 'update_granted_e' e.unit.book.pk e.unit.pk e.pk%}" class="btn btn-success btn-sm" role="button">GRANTED</a> <a href="{% url 'update_status_denied' e.unit.book.pk e.unit.pk e.pk%}" class="btn btn-danger btn-sm" role="button">DENIED</a><br/>
            <b>Number of followups:</b> {{e.get_followup_count}}{% if e.get_followup_count > 0%} ({{e.get_followup_dates|join:", "}}) {% endif %}
            {% comment %} ({% for f in e.get_followup_dates %}
              {{f|join:" // "}}
            {% endfor %}) {% endcomment %}
            </p>
        {% endif %}
        {% endfor %}
    {% endfor %}
    <p>
    {% comment %} <a href="{% url 'update_followups' pk ems%}"
       class="btn btn-primary btn-sm"
       role="button">FOLLOWUP OLD</a> {% endcomment %}
       <a href="{% url 'test_followup_email_agreement' pk ems%}"
       class="btn btn-secondary btn-sm"
       role="button">TEST</a>
       <a href="{% url 'followup_email_agreement' pk ems%}"
       class="btn btn-primary btn-sm"
       role="button">FOLLOWUP</a>
       {% comment %} <a href="{% url 'followup_agreement' pk ems%}" class="btn btn-primary btn-sm" role="button">FOLLOWUP AGREEMENT PREVIEW</a> <a href="{% url 'followup_email_body' pk ems%}" class="btn btn-primary btn-sm" role="button">FOLLOWUP EMAIL PREVIEW</a> {% endcomment %}
       <a href="{% url 'update_granted' pk ems%}"
       class="btn btn-success btn-sm"
       role="button">GRANTED</a></p></td></tr>  
{% endfor %} 
</tbody>
</table>
{% endblock %}