{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  Elements List
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Books</a></li>
  <li class="breadcrumb-item"><a href="{% url 'book_units' pk%}">{{ book.title }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'unit_list' pk%}">Permission</a></li>
  <li class="breadcrumb-item active">Requested</li>
{% endblock %}

{% block content %}

<h2 class="text-primary">Elements grouped by Source, Credit Line and RH Contact</h2>
<table class="table table-striped mb-4">
<tbody>
  
{% for ems_key,ems in context.items %}
    <tr><td><p class="p-3 mb-2 bg-info text-white"><b>Source:</b> {{ems_key.0}}<br/>
    <b>Credit Line:</b> {{ems_key.1}}<br/>
    <b>RH Contact:</b> {{ems_key.2}}</p>
    {% for x in ems %}
     <p><b>{{forloop.counter}}. </b>
        {% for e in element%}
        {% if x == e.pk%}
        <b>Element Number:</b> {{e.element_number}}<br/>
            <b> Chapter Number:</b> {{e.unit.chapter_number}}<br/>
            <b> Caption:</b> {{e.caption}}<br/>
            <b>Permission requested: </b> {{e.requested_on|timesince}} ago  <a href="{% url 'new_followup' e.unit.book.pk e.unit.pk e.pk%}" class="btn btn-primary btn-sm" role="button">FOLLOWUP</a><br/>
            <b>Number of followups:</b> {{e.get_followup_count}}</p>
        {%endif%}
        {% endfor %}
    {% endfor %}
    <p><a href="{% url 'update_followups' pk ems%}"
       class="btn btn-primary btn-sm"
       role="button">FOLLOWUP</a></p></td></tr>  
{% endfor %} 
</tbody>
</table>
{% endblock %}